[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
redis = "*"
pillow = "*"
gevent = "*"
"jinja2" = "*"
"web3" = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
